.header-height {
	height: 200px;
}
.header-color{
	background-color: blue;
}
.column-color1{
	background-color: red;
} 
.column-color2{
	background-color: green;
}
.column-color3{
	background-color: pink;
}